/* CSS Document */

body {
	top: 0;
	margin: 0;
	background: url(images/vertical.png) repeat-x top left #252525;
}

#tot {
	margin-left:auto;
	margin-right: auto;
	width: 988px;
	background: url(images/grad.png) repeat-y top;
	border: #FFFFFF solid 1px; 
}

#header {
	height: 101px;
}

.title {
	line-height: 44px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight: bold;
}

.slogan {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-style:italic;
	padding-left: 50px;
}

#menu { 
	float: right;
	height: 34px;
}

.butonas {

	width: 110px;
	height: 34px;
	float: left;
	margin-right: 10px;
	line-height: 34px;
	color: #1F4D7A;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 18px;
	text-align:center;
}

.butonas a{
	background: url(images/butonas.jpg) no-repeat left;
	display:block;
	color: #1F4D7A;
	text-decoration:none;
}

.butonas a:visited{
		color: #1F4D7A;
	text-decoration:none;
}

.butonas a:hover{
	background: url(images/hover.jpg) no-repeat left;
}

#corp {
	background: #D3DBF8;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	border-bottom: #12212E solid 2px;
	border-top: #12212E solid 2px;
}

.main-text {
	background: #FFFFFF;
	width: 700px;
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 300px;
	position: relative;
	border: #5288AE solid 1px;
	padding-left: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.main-text p{
	line-height: 130%;
	padding-right: 50px;
	}

#menius{ 	
	width: 240px;
	position:absolute;
	top: 50px;
	right: -210px;
	background: #DAE6AC;
	border: #80942E solid 1px;
}

.menu-item {
	height: 30px;
	background: #DAE6AC;
	line-height: 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:16px;
}

.menu-item a{
	color: #333333;
	text-decoration:none;
	display: block;
}

.menu-item a:visited{
	color: #333333;
	text-decoration:none;

}
.menu-item a:hover{
	color: #333333;
	text-decoration:none;
	background: #B4CB58;
}



.menu-title {
	height: 30px;
	font-size: 20px;
	background: #80942E;
	line-height: 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#FFFFFF;
	text-align:center;
}

.footer {
	height: 35px;
	color: #FFFFFF;
	line-height: 34px;
	padding-left: 30px;
}

.footer a{
		color: #FFFFFF;
		text-decoration:underline;
}

.footer a:visited {
		color: #FFFFFF;
		text-decoration:underline;
}
.clear {
	clear: both;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.ttitle {
	color: #5A661A;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
	padding: 25px 0;
	font-weight:bold
}